body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
    background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*Прячем скрытые элементы*/
.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Стилизуем хэдэр*/
.main-header {
    background-color: #eeeeee;
}

.main-header-nav {
    line-height: 30px;
}

.nav-bar,
.cart {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-bar a,
.cart a {
    color: #000000;
}

.nav-bar a:hover,
.nav-bar a:focus,
.cart a:hover,
.cart a:focus {
    color: #fb565a;
}

.nav-bar a:active,
.cart a:active {
    color: #a6a6a6;
}

/*Стилизуем секцию заказа в index*/
.order-list {
    list-style: none;
}

.order-list-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.order-list-item p {
    color: #283136;
}

/*Ввиду того, что цвет текста ссылки - белый, целесообразно стилизовать его после стилизации кнопки
.order-list-item a {
  color: #ffffff;
}
*/

/*Стилизуем каталог*/
.title {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.filter ul {
    list-style: none;
    line-height: 20px;
    color: #283136;
}

.filter-label:hover,
.filter-label:focus {
    color: #283136;
}

.filter-label:disabled {
    color: #283136;
    opacity: 0.3;
}

.filter-btn {
    color: #000000;
    background-color: #eeeeee;
}

.filter-btn:hover,
.filter-btn:focus {
    color: #000000;
}

.filter-btn:active {
    opacity: 0.3;;
}

.catalog-list {
    list-style: none;
}

.catalog-item a {
    color: #000000;
}

.item-wrapper h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.item-wrapper p {
    line-height: 18px;
    color: #666666;
}

/*Стилизуем футер*/
.social-list {
    list-style: none;
}

.social-item {
    width: 79px;
  height: 79px;
    border-radius: 50%;
    background-color: #e1e1e1;
    vertical-align: middle;
}

.social-item:hover,
.social-item:focus {
    background-color: #e74246;
}

.social-item:active {
    background-color: #d7373b;
}

.discount-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 9px;
    margin-bottom: 12px;
}

.discount-hint {
    line-height: 22px;
    color: #444444;
}
