html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
}

.main-header {
  background-color: #eeeeee;
  min-width: 1440px;
}

.main-header-nav {
  display: flex;
  align-items: flex-start;
  width: 1160px;
  line-height: 30px;
}

.main-header-logo {
  width: 165px;
  height: 65px;
  padding-top: 49px;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 440px;
  margin-left: 180px;
  margin-top: 83px;
}

.nav-cat-active::after {
  content: "";
  display: block;
  position: absolute;
  top: 32px;
  width: 76px;
  height: 2px;
  background-color: #fb565a;
}

.cart {
  width: 125px;
  margin-left: auto;
  margin-top: 83px;
}

.cart-link {
  position: relative;
  padding-left: 50px;
}

.cart-link::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 2px;
  height: 15px;
  width: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.nav-bar,
.cart {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-bar a,
.cart a {
  color: #000000;
}

.nav-bar a:hover,
.nav-bar a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.nav-bar a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

.features {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.sliders-controls {
  position: absolute;
  left: 676px;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
}

.sliders-controls .active::before {
  content: "";
  width: 8px;
  height: 8px;
  background-image: url("../img/active-button.svg");
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.sliders-controls span {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-right: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.sliders-controls span::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
}

.features-slide {
  padding-top: 78px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 80px;
}

.features-slide-1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.features-slide-2 {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 1px;
  display: none;
}

.features-slide-3 {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 1px;
  display: none;
}

.slide-slogan {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide-caption {
  margin: 0;
  margin-bottom: 38px;
  max-width: 430px;
  color: #283136;
}

.btn-info {
  width: 240px;
  font-size: 16px;
  text-transform: uppercase;
}

.order {
  margin-bottom: 80px;
  margin-top: 80px;
}

.order-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-list-item {
  width: 300px;
}

.order-list-item:nth-child(3) {
  margin-right: 60px;
}

.order-list-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.order-list-item p {
  color: #283136;
}

.btn {
  display: inline-block;
  width: 160px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #fb565a;
  border-radius: 2px;
  text-align: center;
}
}

.order-btn {
  display: inline-block;
  max-width: 160px;
  padding-left: 40px;
  padding-right: 40px;
}

.order-btn a:active {
  opacity: 0.3;
}

.btn-page {
  background-color: #fb565a;
}

.btn-page:hover,
.btn-page:focus {
  background-color: #e74246;
}

.btn-page:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.btn-app {
  background-color: #00ca74;
}

.btn-app:hover,
.btn-app:focus {
  background-color: #00bc6c;
}

.btn-app:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.btn-pres {
  background-color: #efc84a;
}

.btn-pres:hover,
.btn-pres:focus {
  background-color: #eab534;
}

.btn-pres:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.btn:focus,
.btn:hover {
  color: #ffffff;
}

.order-list-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.description-company {
  display: flex;
  margin-bottom: 70px;
}

.wrapper-about {
  width: 660px;
}

.our-progress {
  width: 360px;
  margin-left: auto;
}

.principle-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 27px;
}

.principle-explain {
  color: #283136;
  margin-bottom: 45px;
}

.ability-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.ability-list {
  color: #283136;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ability-list li {
  margin-bottom: 24px;
  position: relative;
  padding-left: 35px;
  }

.ability-list li:last-child {
  margin-bottom: 0;
}

.ability-list li::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  top: 10px;
  left: 0px;
  background: #fb565a;
}

.picture-nerds {
  margin-bottom: 30px;
}

.progress-slogan {
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 17px;
}

.progress-table {
  display: table;
  border-collapse: collapse;
}

.procent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.value {
  line-height: 18px;
  color: #283136;
}

.procent td,
.value td {
  padding: 20px 0;
}

.procent td {
  padding-right: 25px;
}

.partners {
  padding-bottom: 45px;
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.partners-list li {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.partners-list img {
  display: block;
  margin: 0 auto;
}

.partners-list li {
  margin-bottom: 24px;
  position: relative;
  padding-left: 35px;
}

.partners-list li:not(:nth-child(4n+1))::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 25px;
  left: 10px;
  background: #fb565a;
}

.partners-list a {
  display: block;
  opacity: 0.2;
}

.partners-list a:hover {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

.title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 116px;
  background-color: #eeeeee;
  min-width: 1440px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 40px;
  padding-top: 39px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 50px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  box-sizing: content-box;
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-label {
  cursor: pointer;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
  padding: 0;
}

.filter-list li {
  position: relative;
  margin: 0;
  padding-bottom: 26px;
  padding-left: 35px;
}

.checkbox .filter-label::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.radio .filter-label::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-label:hover::before {
  opacity: 1;
}

.checkbox:checked + .filter-label::before {
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.radio:checked + .filter-label::before {
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-label:hover {
  color: #283136;
}

.radio:focus + .filter-label,
.checkbox:focus + .filter-label,
.radio:focus + .filter-label::before,
.checkbox:focus + .filter-label::before {
  color: #283136;
  opacity: 1;
}

.filter-label:disabled {
  color: #283136;
  opacity: 0.3;
}

.filter-btn {
  background-color: #eeeeee;
  color: #000000;
  border: none;
  width: 260px;
  height: 50px;
  font-weight: 500;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #dfdfdf;
  color: #000000;
}

.filter-btn:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.item-container {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 66px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.browse-img {
  opacity: 0.12;
  position: absolute;
  top: -40px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.catalog-item:hover > .browse-img {
  opacity: 1;
  transition: all 0.3s;
}

.item-wrapper {
  position: absolute;
  bottom: 0px;
  width: 360px;
  text-align: center;
  background-color: #eeeeee;
  opacity: 0;
}

.catalog-item:hover > .item-wrapper,
.catalog-item:focus-within > .item-wrapper {
  opacity: 1;
  transition: all 0.3s;
}

.wrapper-headline a {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 35px;
  margin-bottom: 25px;
  color: #000000;
}

.wrapper-headline a:hover {
  color: #fb565a;
}

.wrapper-headline a:active {
  color: rgba(0, 0, 0, 0.3);
}

.wrapper-headline a:visited {
  color: #000000;
}

.item-wrapper p {
  line-height: 18px;
  color: #666666;
  margin-bottom: 30px;
}

.order-cat-btn {
  display: inline-block;
  max-width: 200px;
  padding: 17px 60px;
  background-color: #fb565a;
  color: white;
  font-weight: 500;
  margin-bottom: 43px;
}

.order-cat-btn:hover,
.order-cat-btn:focus {
  background-color: #e74246;
}

.order-cat-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.pagination-list-item {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  padding: 0;
  margin-right: 11px;
  background-color: #eeeeee;
  color: #000000;
  font-weight: 500;
  box-sizing: border-box;
}

.pagination-list-item:hover,
.pagination-list-item:focus {
  background-color: #dfdfdf;
}

.pagination-list-item:active {
  background-color: #d5d5d5;
}

.pagination-list-item:active span {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-item:first-child {
  background-color: #ffffff;
  outline: solid 3px #dbdbdb;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  text-align: center;
}

.pagination-list-item a {
  position: relative;
}

.pagination-list-item span {
  position: absolute;
  top: 15px;
  left: 21px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}



.pagination-list-num {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0px;
}

.pagination-list-next {
  display: block;
  width: 260px;
  height: 50px;
}

.pagination-list-next span {
  left: 78px;
}

.main-footer {
  position: relative;
}

.location {
  position: relative;
  width: 1440px;
  height: 416px;
  background-color: #888888;
  margin-left: -120px;
  background-image: url(../img/map.jpg);
  background-position: 50% 50%;
}

.map-marker {
  background-image: url("../img/map-marker.png");
  position: absolute;
  top: 89px;
  left: 820px;
  width: 231px;
  height: 190px;
}

.wrapper-contacts {
  position: absolute;
  top: 54px;
  left: 120px;
  width: 319px;
  height: 308px;
  padding: 54px 50px 47px 50px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.contacts {
  line-height: 18px;
  color: #666666;
}

.contact-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 0px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 27px;
}

.contact-address {
  margin-bottom: 17px;
}

.contact-phone a {
  color: #666666;
  margin-bottom: 35px;
}

.btn-connect {
  width: 219px;
  box-sizing: inherit;
  margin-top: 19px;
  padding-left: 44px;
  padding-right: 44px;
}

.social-link {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 261px;
  height: 80px;
  margin-left: 20px;
}

.social-btn {
  position: relative;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-vk::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 27px;
  width: 26px;
  height: 15px;
  background-image: url("../img/vk_pic.svg");
}

.social-btn-fb::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 34px;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb_pic.svg");
}

.social-btn-inst::after {
  content: "";
  position: absolute;
  top: 29px;
  left: 29px;
  width: 21px;
  height: 21px;
  background-image: url("../img/ins_pic.svg");
}

.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-btn-vk:active::after,
.social-btn-fb:active::after,
.social-btn-inst:active::after {
  opacity: 0.3;
}

.social-discount {
  width: 563px;
  margin-left: 140px;
}

.social-discount p {
  margin-top: 0;
}

.discount-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 12px;
}

.discount-hint {
  line-height: 22px;
  color: #444444;
}

@keyframes bounce {
 0% { transform: translateY(-2000px); }
 70% { transform: translateY(30px); }
 90% { transform: translateY(-10px); }
 100% { transform: translateY(0px); }
 }

.modal {
  display: none;
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-window {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  background-color: #ffffff;
  z-index: 10;
  width: 960px;
  padding: 80px 100px;
  transform: translateY(-50%);
  box-shadow: 0 15px 20px 10px #5e5f5f;
  box-sizing: border-box;
}

.modal-window h2 {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.half-width {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.half-width input {
  width: 345px;
  height: 50px;
  border: solid 2px #d7dcde;
  padding-left: 15px;
  color: rgba(68, 68, 68, 0.5);
}

.half-width input:hover {
  border: solid 2px #b4b9bb;
  color: rgba(68, 68, 68, 0.5);
}

.half-width input:focus {
  border: solid 2px #000000;
  color: #444444;
}

.half-width input:invalid {
  border: solid 2px #e74246;
}

.half-width label {
  position: absolute;
  font-weight: 700;
}

.half-width label[for="name"] {
  top: -32px;
}

.half-width label[for="email"] {
  top: -32px;
  left: 396px;
}

.textarea-container {
  position: relative;
  width: 760px;
  height: 118px;
  margin-top: 61px;
  margin-bottom: 47px;
}

.modal-textarea {
  width: 760px;
  height: 118px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 15px;
  margin: 0;
  color: rgba(68, 68, 68, 0.5);
  border: solid 2px #d7dcde;
  resize: vertical;
}

.modal-textarea:hover {
  border: solid 2px #b4b9bb;
  color: rgba(68, 68, 68, 0.5);
}

.modal-textarea-label {
  position: absolute;
  top: -30px;
  font-weight: 700;
}

.send-btn {
  width: 260px;
  height: 50px;
  border: none;
  background-color: #fb565a;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.send-btn:hover,
.send-btn:focus {
  background-color: #e74246;
}

.send-btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.close-btn {
  position: absolute;
  top: 85px;
  right: 90px;
  width: 21px;
  height: 21px;
  background: url("../img/close-cross.svg") no-repeat 0 0;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  opacity: 1.0;
}

.close-btn:active {
  opacity: 0.1;
}
